<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Confirmed</title>
    <link rel="stylesheet" th:href="@{/css/shop.css}">
</head>
<body>

<nav class="navbar">
    <div class="nav-brand">
        <a th:href="@{/}">CloudStore</a>
    </div>

    <div class="nav-links-right">
        <a th:href="@{/products}" class="nav-link nav-btn">
            Products
        </a>
    </div>
</nav>

<main class="content-container">

    <div class="order-card">
        <h1>✅ Order Created</h1>
        <p>
            Thank you for your purchase.
        </p>
        <a th:href="@{/products}" class="nav-btn">
            Continue Shopping
        </a>
    </div>

</main>

</body>
</html>